CREATE DATABASE [ACT_factura]
GO
USE [ACT_factura]
GO
/****** Object:  Table [dbo].[articulos]    Script Date: 5/9/2025 00:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[articulos](
	[id_articulo][int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[precioUnitario] [float] NULL,
	[stock] [int] NULL,
 CONSTRAINT [pk_articulos] PRIMARY KEY CLUSTERED 
(
	[id_articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_factura]    Script Date: 5/9/2025 00:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_factura](
	[id_detalle] [int] identity(1,1),
	[id_articulo] [int] ,
	[cantidad] [int],
	[nrofactura] [int],
	[monto] [float] ,
 CONSTRAINT [pk_detalle] PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facturas]    Script Date: 5/9/2025 00:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facturas](
	[nroFactura] [int]identity(2000,1),
	[fecha] [datetime],
	[idforma] [int],
	[cliente] [varchar](50),
 CONSTRAINT [pk_facturas] PRIMARY KEY CLUSTERED 
(
	[nroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[formapagos]    Script Date: 5/9/2025 00:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formapagos](
	[idforma] [int] NOT NULL,
	[nombre] [varchar](20) NULL,
 CONSTRAINT [pk_formapagos] PRIMARY KEY CLUSTERED 
(
	[idforma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


INSERT [dbo].[formapagos]([idforma],[nombre]) VALUES(1, 'Efectivo');
INSERT [dbo].[formapagos]([idforma],[nombre]) VALUES(2, 'Tarjeta Débito');
INSERT [dbo].[formapagos]([idforma],[nombre]) VALUES(3, 'Tarjeta Crédito');

INSERT [dbo].[articulos]([id_articulo],[nombre],[precioUnitario],[stock]) VALUES(1,'Yerba Mate 1Kg', 4500, 100);
INSERT [dbo].[articulos]([id_articulo],[nombre],[precioUnitario],[stock]) VALUES(2,'Azúcar 1Kg', 1500, 200);
INSERT [dbo].[articulos]([id_articulo],[nombre],[precioUnitario],[stock]) VALUES(3,'Aceite 1Lt', 3800, 150);

INSERT [dbo].[facturas]([fecha],[idforma],[cliente]) VALUES('2024-08-01', 1, 'José Fernández');
INSERT [dbo].[facturas]([fecha],[idforma],[cliente]) VALUES('2024-08-02', 2, 'Marta Rivas');
INSERT [dbo].[facturas]([fecha],[idforma],[cliente]) VALUES('2024-08-03', 3, 'Don Ricardo');

INSERT [dbo].[detalle_factura]([id_articulo],[cantidad],[nrofactura],[monto]) VALUES(1, 1, 2000, 4500);
INSERT [dbo].[detalle_factura]([id_articulo],[cantidad],[nrofactura],[monto]) VALUES(3, 1, 2001, 3800);
INSERT [dbo].[detalle_factura]([id_articulo],[cantidad],[nrofactura],[monto]) VALUES(6, 1, 2002, 2500);

GO
------------------------------------------------------

ALTER TABLE [dbo].[detalle_factura]  WITH CHECK ADD  CONSTRAINT [fk_articulo] FOREIGN KEY([id_articulo])
REFERENCES [dbo].[articulos] ([id_articulo])
GO
ALTER TABLE [dbo].[detalle_factura] CHECK CONSTRAINT [fk_articulo]
GO
ALTER TABLE [dbo].[detalle_factura]  WITH CHECK ADD  CONSTRAINT [fk_factura] FOREIGN KEY([nrofactura])
REFERENCES [dbo].[facturas] ([nroFactura])
GO
ALTER TABLE [dbo].[detalle_factura] CHECK CONSTRAINT [fk_factura]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [fk_formapago] FOREIGN KEY([idforma])
REFERENCES [dbo].[formapagos] ([idforma])
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [fk_formapago]
GO


/****** Object:  StoredProcedure [dbo].[sp_guardar_Articulos]    Script Date: 5/9/2025 00:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[sp_guardar_Articulos]
    @id int output,
    @nombre varchar(50),
    @precio numeric(18,2),
    @stock int
as
begin
    set nocount on;

   
    begin
        insert into articulos(nombre, precioUnitario, stock)
        values(@nombre, @precio, @stock);
    end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_Detalle]    Script Date: 5/9/2025 00:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[sp_insertar_Detalle]
    --@id int output,
   @articulo int,
    @cantidad int,
    @nroFactura int,
    @monto float

as
begin
  
    insert into Detalle_Factura(id_articulo, cantidad, nrofactura, monto)
    values(@articulo, @cantidad, @nroFactura, @monto);
   select SCOPE_IDENTITY() as id_detalle;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_insertar_Maestro]    Script Date: 5/9/2025 00:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[sp_insertar_Maestro]
    --@nro int output,
    @tipo int,
    @fecha datetime,
    @cliente varchar(50)
as
begin
    set nocount on

    --if @nro = 0
    --begin 
        insert into facturas(fecha,idforma,cliente)
        values(@fecha, @tipo, @cliente);

        select SCOPE_IDENTITY() as nroFactura;
--end
--    else 
--    begin
--        update facturas
--        set 
--            fecha = @fecha,
--            idforma = @tipo,
--            cliente= @cliente
--        where nroFactura = @nro;
--    end           
end
GO
/****** Object:  StoredProcedure [dbo].[sp_recuperar_Articulos]    Script Date: 5/9/2025 00:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[sp_recuperar_Articulos]
as
begin
    set nocount on;

    select * 
    from articulos;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_recuperar_Articulos_id]    Script Date: 5/9/2025 00:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_recuperar_Articulos_id]
@id int output
as
begin
    set nocount on;

    select * 
    from articulos
    where id_articulo=@id
end
GO
/****** Object:  StoredProcedure [dbo].[sp_recuperar_Facturas]    Script Date: 5/9/2025 00:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[sp_recuperar_Facturas]
as
begin
    set nocount on;

    select * 
    from facturas;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_recuperar_Facturas_nro]    Script Date: 5/9/2025 00:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[sp_recuperar_Facturas_nro]
    @id int
as
begin
    set nocount on;

    select * 
    from facturas
    where nroFactura=@id;
end
GO

create procedure [dbo].[sp_recuperar_detalles]
as
begin
    set nocount on;

    select * 
    from detalle_factura
end
GO
create procedure [dbo].[sp_recuperar_Detalles_nro]
    @id int
as
begin
    set nocount on;

    select * 
    from detalle_factura
    where id_detalle=@id;
end
GO

create procedure [dbo].[sp_eliminar_Facturas_nro]
    @id int
as
begin
   delete from facturas 
   where nroFactura=@id; 
end
GO
